body {
    width: 100%;
    font-family: 'Sacramento', cursive;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    color: #21204A;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}

p {
    font-size: 32px;
    margin-left: 10px;
    margin-top: 10px;
    color: #21204A;
}

h2{
    font-size: 40px;
    margin-left: 10px;
    margin-top: 10px;
    color: #21204A;
}